<!-- <link rel="stylesheet" href="/css/footer.css"> -->
<link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">

<footer>
    <div class="description">
        <p>&#169; Chatter is worldwide social-site</p>
    </div>

    <ul>
        <li>
            <button>
                <a href="/">
                    Contact us
                </a>
            </button>
        </li>

        <li>

            <button>
                <a href="/user/sign-up">
                    Sign up
                </a>
            </button>

        </li>

        <li>
            <button>
                <a href="/user/sign-in">
                    Sign in
                </a>
            </button>
        </li>

    </ul>

</footer>