<h1>Reset the password</h1>

<% if(token.isvalid==true){%>
    <h2>Change your password</h2>
    <form action="/user/confirm-change/<%=token.accesstoken%>" method="POST">
        <div class="container">
            <input type="password" name="password" placeholder="New Password">
            <input type="password" name="confirm_password" placeholder="Confirm Password">
            <button type="submit">Change Password</button>
        </div>
        
    </form>
<%}else{%>
    <h2>Token Expired!!</h2>
<%}%>