<h1>Reset/Forget Password</h1>
<form action="/user/mail-accessToken" method="post">

    <input type="email" name="email" id="" placeholder="Enter the mail for reset the password" required>
    <input type="submit" value="Submit">
</form>
