<div>
    <br>
    <br>

    <p>Hey <%= resettoken.user.name%> your password reset token is  <strong> <i> <%= resettoken.accesstoken%> </i>> </strong>  </p>

    <br>
    <br>
    <p>Thanks !!</p>
</div>